.icon-button {
	background-color: transparent;
	cursor: pointer;

	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-decoration: none;
	border: none;
    padding: 10px;
    fill: var(--white);
}

.icon-button:focus {
	outline: none;
}
