.update-password-form__title {
    margin-bottom: 15px;
}

.update-password-form__control {
    margin-bottom: 15px;
}

.update-password-form__operation-message {
    margin-top: 10px;
    width: 293px;
}
