.forgot-password-form {
    text-align: center;
}

.forgot-password-form__title {
    margin: 0 0 16px 0;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
}

.forgot-password-form__subtitle {
    margin: 0 0 30px 0;
}

.forgot-password-form__form-input {
    /* 20px is the horizontal padding of form-input */
    width: calc(100% - 20px);
    margin-bottom: 40px;
}

.forgot-password-form__login-button {
    width: 100%;
    font-size: var(--font-size-xl);
    line-height: var(--font-size-xl);
    font-weight: bold;
    margin-bottom: 10px;
}
