.app-header {
    grid-area: app-header;
}
.app-sidebar {
    grid-area: app-sidebar;
}
.app-main-content {
    grid-area: app-main-content;
}
.app-footer {
    grid-area: app-footer;
}

.app-layout {
    display: grid;
    gap: 1px;
    height: 100vh;
    grid-template-areas: 
        "app-sidebar app-header"
        "app-sidebar app-main-content"
        "app-footer app-footer";
    grid-template-rows: 75px auto 100px;
    grid-template-columns: 200px auto;
}

/* ------------- Utilities --------------- */
.icon {
    fill: var(--white);
    cursor: pointer;
}
