.signup-form {
    text-align: center;
}

.signup-form__title {
    margin: 0 0 20px 0;
    font-size: var(--font-size-xl);
}

.signup-form__form-input {
    /* 20px is the horizontal padding of form-input */
    width: calc(100% - 20px);
    margin-bottom: 40px;
}

.signup-form__login-button {
    width: 100%;
    font-size: var(--font-size-xl);
    font-weight: bold;
}
