.form-input {
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: var(--white);
    font-size: var(--size-l);
    padding: 5px 10px;
    transition: border-color .25s ease, box-shadow .25s ease;
}

.form-input:focus {
    outline: none;
    border-color: #1ab188;
}
