.login-form {
	text-align: center;
}

.login-form__title {
	margin: 0 0 20px 0;
	font-size: var(--font-size-xl);
}

.login-form__form-input {
	/* 20px is the horizontal padding of form-input */
	width: calc(100% - 20px);
	margin-bottom: 40px;
}

.login-form__login-button {
	width: 100%;
	font-size: var(--font-size-xl);
	font-weight: bold;
	margin-bottom: 10px;
}

.login_form__error {
	margin-bottom: 10px;
}

.login-form__forgot-password {
	color: #1ab188;
}

.login-form__forgot-password:hover {
	color: #179b77;
}
