.playlist-view__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.playlists-view__title {
    display: inline-block;
    font-size: var(--font-size-xl);
}

.playlists-view__count {
    font-size: var(--font-size-l);
    margin-left: 15px;
}

.playlists-view__filter {
    margin-right: 16px;
}

.playlists-view__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.playlists-view__list .playlist-summary {
    margin: 0 15px 30px 0;
}
