:root {
	--font-family: "Baloo Da 2", "Helvetica Neue", Arial, sans-serif;
	--primary-background-color: #14182a;
	--secondary-background-color: #1b2039;

	--primary-color: #fff;

	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;

	--font-size-s: 12px;
	--font-size-m: 14px;
	--font-size-l: 22px;
	--font-size-xl: 30px;

	--line-height-s: 12px;
	--line-height-m: 18px;
	--line-height-l: 22px;
	--line-height-xl: 30px;
}

@custom-media --mobile (max-width: 500px);

body {
	color: var(--primary-color);
	font-family: "Baloo Da 2", "Helvetica Neue", Arial, sans-serif;
	font-size: var(--font-size-m);
	/* line-height: var(--line-height-m); */
	margin: 0;
	overflow: hidden;
}

ul, ol, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	list-style: none;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

#yt-player {
	position: absolute;
	bottom: 0;
	left: -9999px;
}
