.app-footer{
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.app-footer__player-current-track {
    margin-left: 60px;
}
